<div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let track of topTracks"><!-- Esta es la info que se generara cuando tengamos la informacion-->
                    <td><img [src]="track.album.images | noimage" class="img-thumb"></td>
                    <td> {{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td>
                        <!--<audio [src] = "track.preview_url | urlSegura" controls> </audio> -->
                        <iframe [src] = "track.uri | urlSegura" width="300" height="80" frameborder = "0" allowtansparency = "true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
